<?php

$date = date('Y');

$header = <<<EOF
FineUploader Bundle for Contao Open Source CMS.

@copyright  Copyright (c) $date, terminal42 gmbh
@author     terminal42 <https://terminal42.ch>
@license    MIT
EOF;

$config = new Contao\PhpCsFixer\DefaultConfig($header);
$config
    ->getFinder()
    ->in(['src/'])
;

return $config;
